<!DOCTYPE html>

{% load staticfiles %}

<html>
	
	<head lang="en">
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/event.css' %}" type="text/css">
	</head>
	
	<title>{% block title_block %}Base Template{% endblock %}</title>

	<img src="/static/images/logo_blue.jpg" alt="Placeholder logo">

	<ul class = "navbar">	

		<li><img src="/static/images/logo_nobackground.jpg" alt="Placeholder logo" /></li>
		<li><a class="active" href="{% url 'index' %}">Home</a></li>
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">Sports</a>
			<div class="dropdown-content">
				<a href="{% url 'football' %}">Football</a>
				<a href="{% url 'american_football' %}">American Football</a>
				<a href="{% url 'basketball' %}">Basketball</a>
				<a href="{% url 'ice_hockey' %}">Ice Hockey</a>
				<a href="{% url 'rugby' %}">Rugby</a>
				<a href="{% url 'cricket' %}">Cricket</a>
				<a href="{% url 'tennis' %}">Tennis</a>
				<a href="{% url 'mma' %}">MMA</a>
			</div>
		</li>
		<li><a href="{% url 'login' %}">Login</a></li>
		<li><a href="{% url 'signup' %}">Sign Up</a></li>
	</ul>
	<body>
		{% block header_block %} {% endblock %}
		<div>{% block body_block %}Base Template{% endblock %}</div>
		

	</body>

	<hr/>
	<ul>
		<a href="{% url 'index' %}">Home</a>
		<a href="{% url 'about' %}">About</a>
		<a href="#">Contact Us - Not working atm</a>
		<a href="{% url 'custom_event' %}">Custom Event</a>
	</ul>
</html>
