<!DOCTYPE html>

{% load staticfiles %}

<html>
	
	<head lang="en">
		<meta charset="UTF-8"/>
		<title>GameTime - {% block title_block %}Base Template{% endblock %}</title>
	</head>
	
	<body>
	
		<div>{% block body_block %}Base Template{% endblock %}</div>

        <div id="nav_bar" style = " list-style-type:none; margin:0; padding:0;">
            <ul>
                <li> <a href="/play/about/">About</a><br /></li>
                <li> <a href="/play/football/">Football</a><br /></li>
                <li> <a href="/play/american_football/">American Football</a><br /></li>
                <li> <a href="/play/basketball/">Basketball</a><br /></li>
                <li> <a href="/play/ice_hockey/">Ice Hockey</a><br /></li>
                <li> <a href="/play/rugby/">Rugby</a><br /></li>
                <li> <a href="/play/cricket/">Cricket</a><br /></li>
                <li> <a href="/play/tennis/">Tennis</a><br /></li>
                <li> <a href="/play/mma/">MMA</a><br /></li>
            </ul>
        </div>

	</body>
	
</html>
